.logo-picture{
  background-image: linear-gradient(to bottom, #45396c 20%,  #ffffff 100%);
}

.container{
  height: 100vh;
}

.container h1{
  color: rgb(254, 254, 254);
}

.title{
  font-weight: 500;
}