body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(..//img/user-pet-background.png);
  background-repeat: repeat;
  background-size: cover;
  overflow-x: hidden;
  z-index: -2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  max-width: 100%;
}

.circle {
  position: absolute;
  top: -10%;
  left: -20%;
  width: auto;
  height: 120vh;
}

.second-lec {
  position: absolute;
  bottom: -98%;
  right: -22%;
  width: auto;
  height: 180vh;
  opacity: 0.9;
}
.third-lec {
  position: absolute;
  bottom: -125%;
  left: -19%;
  width: auto;
  height: 100vh;
  z-index: -4;
  opacity: 0.6;
}

.fourth-lec {
  position: absolute;
  bottom: -205%;
  right: -9%;
  width: auto;
  height: 80vh;
  opacity: 0.6;
}
.fifth-lec {
  position: absolute;
  bottom: -12%;
  right: 3%;
  width: auto;
  height: 100vh;
  opacity: 0.9;
}
.sixth-lec {
  position: absolute;
  bottom: -75%;
  right: -5%;
  width: auto;
  height: 150vh;
  opacity: 0.5;
}
.seventh-lec {
  position: absolute;
  bottom: -10%;
  left: -1%;
  width: auto;
  height: 60vh;
  opacity: 0.9;
}
.eighth-lec {
  position: absolute;
  bottom: -31%;
  right: -16%;
  width: auto;
  height: 120vh;
  opacity: 0.6;
}
.nignth-lec {
  position: absolute;
  bottom: -9%;
  left: -3.5%;
  width: auto;
  height: 57.5vh;
  opacity: 0.9;
}
.tenth-lec {
  position: absolute;
  bottom: 7%;
  left: 1%;
  width: auto;
  height: 55vh;
}

.eleventh-lec {
  position: absolute;
  bottom: -70%;
  left: 25%;
  width: auto;
  height: 55vh;
}
.twelveth-lec {
  position: absolute;
  bottom: -78%;
  left: 40%;
  width: auto;
  height: 55vh;
}

.logo-text {
  font-weight: bolder;
  color: white;
}
.logo-text-customer {
  font-weight: bolder;
  color: #5263ab;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-toggle {
  display: none; /* Hide button by default */
}
.second-nav.navbar-links {
  color: white;
}

.logosec,
.logo-clinic {
  height: auto;
  width: 100px; /* Adjust the width to occupy the entire space of its container */
}

.logo-image {
  width: 50px; /* Set your preferred size */
  height: auto;
  margin-right: 10px;
}

.logo-text {
  font-size: 1.5rem;
}
.logo-text-customer {
  font-size: 1.5rem;
}

.navbar-links a {
  display: inline-block;
  position: relative;
  color: #5263ab;
  font-weight: 20px;
  text-decoration: none;
  font-size: 1.5em;
  padding: 10px 15px;
  margin: 5px;
  text-wrap: nowrap;
}
.navbar-links a:hover {
  color: #2a2f4f;
}

.navbar-links a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #2a2f4f;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navbar-links a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/* For Navbar collapse */
.navbar-collapse.bg-color {
  background: linear-gradient(
    rgba(217, 217, 217, 0.7),
    rgba(217, 217, 217, 0.7)
  );
  border-radius: 10px;
}

.dos {
  padding-bottom: 200px;
}

.dropdown-item {
  text-wrap: wrap;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.notif-dropdown li a {
  text-wrap: wrap;
  font-size: 15px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

img {
  z-index: -1;
}

.intro h1,
.border-line {
  color: white;
}

.intro {
  margin-top: 65px;
  margin-left: 65px;
  padding-bottom: 65vh;
}

.intro h1 {
  font-size: 4rem;
  font-weight: bold;
  display: flex;
}

.border-line {
  margin-bottom: 20px;
  width: 520px;
  border-bottom: 2px solid black;
}
.description h2 {
  font-size: 26px;
}

.featured-pics {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-left: 79px;
  margin-right: 79px;
}

.showcase {
  padding: 5em;
}

.showcase img {
  border-style: solid;
  border-width: 8px;
  border-color: #c6c6c6;
  border-radius: 20px;
}

.button-30 {
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}
.button-30:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}
.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

.boton {
  align-items: center;
  appearance: none;
  background-color: #00000027;
  border-radius: 10px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #00000010 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  font-weight: bold;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 50px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 30px;
  margin-top: 70px;
  margin-left: 50px;
}
.boton:focus {
  box-shadow: #00000043 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #00000015 0 -3px 0 inset;
}
.boton:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #0000002c 0 -3px 0 inset;
  transform: translateY(-2px);
}

.boton:active {
  box-shadow: #00000043 0 3px 7px inset;
  transform: translateY(2px);
}

.title {
  text-align: center;
}

.container-description {
  background: #eeeeee;
  background: -moz-linear-gradient(
    top,
    #eeeeeecc 0%,
    #c0aef0c0 100%,
    #5a4c6a 100%
  );
  background: -webkit-linear-gradient(
    top,
    #eeeeeeb1 0%rgba (193, 177, 236, 0.777) EE 100%,
    #5a4c6a 100%
  );
  background: linear-gradient(
    to bottom,
    #eeeeeeaf 0%,
    #bfacf2b5 100%,
    #5a4c6a 100%
  );
  display: flex;
  width: 70%;
  padding: 10px;
  text-align: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
}

.about-us-description {
  margin-right: 10%;
  padding: 10px;
  width: 40em;
  float: right;
  margin-top: 7%;
}

.about-us-description2 {
  margin-left: 1.5%;
  padding: 10px;
  width: 40em;
  float: left;
  margin-top: 15%;
}

.about-us-description h1 {
  color: #5263ab;
  font-weight: bold;
}
.intro-title {
  padding: 10px;
  background-color: #d4d4d474;
}

.intro-title h1 {
  font-size: 4em;
  font-weight: bold;
  color: #2a2f4f;
}

.paw {
  float: left;
}

.about-us-description2 h3 i {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.about-us-description2 h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-align: justify;
}
.responsive-cell-block {
  min-height: 75px;
}

.text-blk {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  line-height: 25px;
  height: 50%;
  width: 100%;
}

img {
  object-fit: cover;
}

.responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  justify-content: flex-start;
}

.responsive-container-block.bg {
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 1320px;
  margin: 50px 0 50px 0;
}

.text-blk.title {
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 36px;
  line-height: 45px;
  font-weight: 900;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin: 0 0 15px 0;
}

* {
  font-family: Nunito, sans-serif;
}

.text-blk.desc {
  text-align: center;
  font-size: 18px;
  line-height: 28px;
  height: auto;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
  max-width: 750px;
}

.responsive-container-block.blocks {
  width: 100%;
  min-height: 0px;
  justify-content: space-between;
  max-width: 1320px;
}

.responsive-cell-block.wk-desk-1.wk-tab-1.wk-mobile-1.wk-ipadp-1.content {
  width: 30%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 20px 7px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-blk.info-block {
  width: 85%;
  height: auto;
  font-size: 18px;
  line-height: 30px;
  margin-top: 30px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
  margin: 30px 0 30px 0;
}

.responsive-container-block.person {
  width: 90%;
  min-height: 0px;
  height: auto;
  margin-top: 0px;
  margin-right: 31.25px;
  margin-bottom: 20px;
  margin-left: 31.25px;
}

.responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12.icon-block {
  width: 22%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12.text-block {
  width: 78%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.text-blk.name {
  font-size: 18px;
  line-height: 20px;
  font-weight: 900;
  height: auto;
  width: 100%;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
}

.text-blk.desig {
  line-height: 16px;
  height: auto;
  width: 100%;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.profile-img {
  width: 60px;
  height: 60px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.responsive-container-block.big-container {
  justify-content: center;
  padding: 0 50px 0 50px;
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 20px 7px;
}

.tres {
  padding-bottom: 100px;
}

/* Responsiveness Section */
/* Media Query Section */
@media (max-width: 1024px) {
  .responsive-cell-block.wk-desk-1.wk-tab-1.wk-mobile-1.wk-ipadp-1.content {
    width: 47%;
  }

  .responsive-cell-block.wk-desk-1.wk-tab-1.wk-mobile-1.wk-ipadp-1.content.bottom {
    margin-top: 5%;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 25%;
  }

  .text-blk.desc {
    width: 70%;
  }

  .responsive-container-block.person {
    margin-top: 5%;
    margin-right: 31.25px;
    margin-bottom: 0px;
    margin-left: 31.25px;
  }

  .text-blk.title {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .responsive-container-block.person {
    margin-top: 21.9375px;
    margin-right: 31.25px;
    margin-bottom: 20px;
    margin-left: 31.25px;
  }

  .text-blk.info-block {
    margin-top: 30px;
    margin-right: 0px;
    margin-bottom: 25px;
    margin-left: 0px;
  }

  .service-button {
    background-color: #5263ab;
    border-radius: 10px;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: white;
    font-size: 10px;
    cursor: pointer;
    box-shadow: 0 9px #999;
  }

  .content-background-border {
    border: 5px solid white;
    margin: 15px;
    height: 30.8em;
    border-radius: 20px;
  }

  .content-slider {
    text-align: center;
  }

  .dos {
    padding-bottom: 100px;
  }
  .tres {
    padding-bottom: 70px;
  }
  .intro {
    margin-top: 50px;
    margin-left: 50px;
    padding-bottom: 50vh;
  }

  .showcase {
    padding: 4em;
  }

  .showcase img {
    width: 400px;
    height: auto;
    border-style: solid;
    border-width: 8px;
    border-color: #c6c6c6;
    border-radius: 20px;
  }
}

@media (max-width: 768px) {
  /* Responsive styles for navbar */
  .circle {
    position: absolute;
    top: -10%;
    left: -20%;
    width: auto;
    height: 120vh;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links {
    margin-top: 20px;
    padding-left: 0;
  }

  .navbar-links a {
    margin: 5px 0;
  }

  .navbar-toggler {
    margin-left: auto;
  }

  .responsive-container-block.person {
    margin-top: 0px;
    margin-right: 31.25px;
    margin-bottom: 0px;
    margin-left: 31.25px;
  }

  .text-blk.info-block {
    height: 50%;
    font-size: 17px;
  }

  .responsive-cell-block.wk-desk-1.wk-tab-1.wk-mobile-1.wk-ipadp-1.content {
    width: 100%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 5%;
    margin-left: 0px;
  }

  .text-blk.desc {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 80px;
    margin-left: 0px;
    width: 85%;
    font-size: 17px;
  }

  .text-blk.title {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-size: 30px;
  }

  .responsive-cell-block.wk-desk-1.wk-tab-1.wk-mobile-1.wk-ipadp-1.content.bottom {
    width: 100%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .responsive-container-block.blocks {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .responsive-container-block.bg {
    flex-wrap: nowrap;
  }

  .responsive-container-block.person {
    margin-top: 0px;
    margin-right: 31.25px;
    margin-bottom: 20px;
    margin-left: 31.25px;
  }

  .text-blk.info-block {
    margin-top: 30px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
  }

  .text-blk.desc {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
  }

  .text-blk.desig {
    font-size: 15px;
  }

  .text-blk.name {
    font-size: 17px;
  }

  /* index.php */
  .navbar-links a {
    display: inline-block;
    position: relative;
    color: #0b0b0b;
    font-weight: 20px;
    text-decoration: none;
    font-size: 28px;
    padding: 18px;
    margin: 5px;
  }

  .intro {
    margin-top: 50px;
    margin-left: 50px;
    padding-bottom: 50vh;
  }

  .intro h1 {
    font-size: 3rem;
    font-weight: bold;
    display: flex;
  }

  .intro h2 {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
  }

  .boton {
    align-items: center;
    appearance: none;
    background-color: #00000027;
    border-radius: 10px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #00000010 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395a;
    cursor: pointer;
    font-weight: bold;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 50px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 1.5em;
    margin-top: 30px;
    margin-left: 5px;
  }

  .featured-pics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 79px;
    margin-right: 79px;
  }

  .showcase {
    padding: 3em;
    display: flex;
    justify-content: center;
  }

  .showcase img {
    border-style: solid;
    border-width: 8px;
    border-color: #c6c6c6;
    border-radius: 20px;
  }

  .container-description {
    background: #eeeeee;
    background: -moz-linear-gradient(
      top,
      #eeeeeecc 0%,
      #c0aef0c0 100%,
      #5a4c6a 100%
    );
    background: -webkit-linear-gradient(
      top,
      #eeeeeeb1 0%rgba (193, 177, 236, 0.777) EE 100%,
      #5a4c6a 100%
    );
    background: linear-gradient(
      to bottom,
      #eeeeeeaf 0%,
      #bfacf2b5 100%,
      #5a4c6a 100%
    );
    margin: auto;
    width: 77%;
    padding: 10px;
    text-align: center;
    display: flex;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
  }

  /* aboutus.php */

  .about-us-description {
    font-size: 1em;
    color: #101010;
    padding: 0;
    text-align: center;
  }

  .tenth-lec {
    display: none;
  }

  .twelveth-lec {
    position: absolute;
    bottom: -45%;
    left: 20%;
    width: auto;
    height: 33vh;
  }
  .about-us-description h1 {
    color: #2a2f4f;
    font-weight: bold;
  }

  .section2 {
    margin-top: 8%;
  }

  /* footer.php for 768px*/
  .custom-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .custom-box2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .con-links .con{
    display: flex;
    align-items: center;
  }
  /* Services.php */
  .FAQS {
    width: 63%;
    margin-left: 25vh;
    margin-top: 45vh;
    background-color: #66666672;
    padding: 15px;
  }

  .eleventh-lec {
    position: absolute;
    bottom: -80%;
    left: 20%;
    width: auto;
    height: 50vh;
  }

  .swiper {
    width: 120vh;
    height: 95vh;
    margin: 50px;
    margin-top: 80px;
  }

  .content-slider {
    margin: 17px;
    height: 30.8em;
    width: 100%;
    border-radius: 20px;
    text-align: center;
  }

  .content-background-border {
    border: 5px solid white;
    margin: 0;
    height: auto;
    border-radius: 20px;
  }
}

@media (max-width: 500px) {
  /* Nav Bar */
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links {
    margin-top: 20px;
    padding-left: 0;
  }

  .navbar-links a {
    margin: 5px 0;
  }

  .navbar-toggler {
    margin-left: auto;
  }

  .responsive-cell-block.wk-desk-1.wk-tab-1.wk-mobile-1.wk-ipadp-1.content {
    width: 100%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 8%;
    margin-left: 0px;
  }

  .text-blk.desc {
    width: 90%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-size: 16px;
    line-height: 24px;
  }

  .text-blk.title {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-size: 26px;
  }

  .text-blk.info-block {
    margin-top: 30px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
    font-size: 16px;
    line-height: 19px;
    margin: 30px 0 20px 0;
  }

  .text-blk.desc {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
  }

  .responsive-container-block.big-container {
    padding: 0 30px 0 30px;
  }

  .text-blk.name {
    font-size: 17px;
  }

  .text-blk.desig {
    font-size: 15px;
  }

  .showcase {
    padding: 3em;
  }

  .showcase img {
    display: flex;
    border-style: solid;
    border-width: 8px;
    border-color: #c6c6c6;
    border-radius: 20px;
  }
}

/* swiper css */
.swiper {
  width: 120vh;
  height: 65vh;
  margin: 50px;
  margin-top: 80px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #bccbe7;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.content-slider {
  margin: 15px;
  height: 0%;
  border-radius: 20px;
  text-align: center;
  font-size: 10px;
}

.content-background-border h6 {
  font-size: 10px;
}

.content-background-border h3 {
  font-size: 25px;
}
.content-background-border {
  border: 5px solid white;
  margin: 0;
  height: auto;
  border-radius: 20px;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: -50%;
  transform: translateY(500%);
  margin: 0 15em;
}

.service-button {
  background-color: #5263ab;
  border-radius: 10px;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  box-shadow: 0 9px #999;
}

.service-button:hover {
  background-color: #4c5599;
  transition: 0.1s;
}
.service-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
/* swiper css */

.FAQS {
  width: 63%;
  margin-left: 35vh;
  margin-top: 70vh;
  background-color: #66666672;
  padding: 15px;
}

.FQS {
  background-color: #66666672;
}
.accordion-button,
.accordion-item,
.accordion-body,
.accordion-header {
  margin: 10px;
}

.social-icons a {
  color: #fff;
  line-height: 30px;
  font-size: 45px;
  margin: 0 5px;
  margin: 5px;
  text-decoration: none;
  padding: 15px;
  text-align: center;
}

.social-icons {
  display: flex;
  flex-direction: column;
  float: right;
  background-color: #494949;
  border-radius: 15px 0px 0px 15px;
  right: 5px;
  max-width: 80px;
}

.social-icons a i {
  line-height: 30px;
  font-size: 30px;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);
}
.social-icons a:hover i {
  box-shadow: 0px 0px 150px #000000;
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.5);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.5);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.5);
  transition: all 200ms ease-in;
  transform: scale(1.5);
}

.separator {
  padding-top: 5px;
  border-top: 2px solid #ccc; /* Straight line separator */
  margin: 10px 0; /* Adjust spacing */
}

.title {
  display: table;
  width: 100%;
}

.title-row {
  display: table-row;
}

.bar-container {
  display: table-cell;
  position: relative;
  width: 50%;
}

.bar {
  position: absolute;
  width: 100%;
  top: 55%;
  border-bottom: 1px solid black;
}

.text {
  display: table-cell;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 36px;
}

.or-divider {
  display: flex;
  align-items: center;
  text-align: center;
}

.or-divider::before,
.or-divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #000; /* Adjust the color and style as needed */
  margin: 0 10px;
}

.or-text {
  padding: 0 10px;
  background-color: #fff; /* Set background color to match your form background */
}

/* Footer Part */
footer {
  background: linear-gradient(
    to top,
    rgb(20, 27, 69),
    rgba(37, 51, 138, 0.5),
    rgba(76, 86, 164, 0.5),
    rgba(255, 255, 255, 0.19)
  );
  background-blend-mode: overlay; /* Blend the linear gradient with the image */
}

.logo-footer-img {
  width: 100px;
  height: auto;
  z-index: 99;
}

.footer-branding p {
  color: #fff;
}

.con-links a {
  text-decoration: none; /* Remove underline */
  color: #000;
}

.con {
  display: flex;
  flex-direction: column;
  padding: 0px 50px;
}

.con-time {
  background-color: #a9b0cf;
  padding: 10px;
  border-radius: 8px;
  width: 255px;
}

.con-time-2 {
  border-radius: 8px;
  border: solid 5px #dadada;
  display: inline-block; /* Display as inline-block to center horizontally */
  width: fit-content;
  padding: 5px;
}

.con-time-2 .time p {
  width: 150px;
}

.con-links {
  border-bottom: 2px solid #343232;
}

.pet-profile {
  background-color: #eaeaea;
  width: 200px;
}

i .pet-pp-icon {
  background-color: #5263ab;
}

/* SEARCH */

.search-container {
  display: flex;
  align-items: flex-start;
  margin: 10px;
  width: 100%;
  /* Center vertically */
}

.search-wrapper {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.276);
  align-items: center;
  border-radius: 50px;
  background-color: #fff;
  overflow: hidden;
  padding: 4px 20px;
  width: 45%;
}

.search {
  padding: 0px 20px 0px 0px;
  border: none;
}

.search:focus {
  outline: none;
}

.search-icon {
  color: rgba(0, 0, 0, 0.564);
}
.white-container {
  background: rgb(255, 255, 255);
  padding-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  position: relative; /* Add relative positioning to container */
}
td {
  margin: 10px;
  background-color: none;
}

/* Create a custom checkbox */
.custom-checkbox {
  margin-left: 20px;
}

.mail-btn {
  margin: 10px;
}
.crud-text {
  color: #3a3f54;
  text-decoration: none;
  font-size: 1.1em;
  margin: 10px;
}

.table-row:hover {
  background-color: #8493d9 !important;
  cursor: pointer;
}

.review-appointment {
  background-color: #d9d9d9;
  border: solid 1px black;
  padding: 1em;
}
.form-appointment-review {
  background-color: #ffff;
  padding: 13px;
}

.Title-form {
  padding: 5px;
}

.Review-appointment-form {
  background-color: #efefef;
  border-radius: 7px;
}

.modal-con {
  background-color: #d9d9d9;
  border-radius: 7px;
}
.Pet-mail {
  font-size: 2em;
}

.Go-back {
  position: absolute;
  top: 1%;
  left: 1%;
}

/* for review-appointment-css */
.book-form-control {
  background-color: #c6c8d6 !important;
  border: none !important;
  border-bottom: 1.5px solid #04182d !important; /* gray border color */
  border-radius: 0 !important; /* remove rounded borders */
}
.form-row {
  display: flex;
  flex-direction: row;
}

.form-concerns {
  border: none;
  border: 1px solid #04182d; /* gray border color */
  border-radius: 0; /* remove rounded borders */
}

#concerns {
  height: 245px;
  width: 405px; /* Adjust the height as needed */
}

.pet-details {
  max-width: 65%;
  height: 435px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.48);
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.48);
}

/* Remove background color and adjust border for select elements */
select.book-form-control {
  background-color: transparent;
  border: 1px solid #ced4da; /* gray border color */
  border-radius: 0;
}

.pet-info-form {
  border-radius: 10px;
  margin-top: 50px;
  margin: 2em 4em;
}

.form-group {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  max-height: 95px;
}

.background-color {
  background-color: #c6c8d6;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
  padding: 5px;
  font-size: 16px;
  outline: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select:focus {
  border-bottom: 1px solid #007bff;
}

/* for review-appointment-css */

.Rounded-container-form {
  height: 85%;
}

.Pet-mail-table {
  height: 100%;
}

.profile-pictures {
  background-color: #eaeaea !important;
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: center;
  border-color: solid 3px #000000;
  border-radius: 10px;
}

.pet-details-cont {
  background-color: #e3e4ff;
  margin: 5px;
  border-radius: 5px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pets-container-details {
  padding-left: 4em;
  padding-right: 4em;
}

input[type="Petname"],
input[type="Petcolor"],
input[type="Petbirthdate"],
input[type="Petage"],
input[type="Petbreed"],
input[type="Petspecies"],
select {
  border-radius: 10px !important;
}

.pet-cont {
  border-radius: 5px;
}

.profile-pic {
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: center;
  border-color: solid 3px #000000;
}

.upload-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  background: #c1ccf8;
}

.forming-pet {
  background-color: #c6c8d6;
}

#openCalendarModalBtn {
  padding: 3px;
  padding-left: 7px !important;
  padding-right: 7px !important;
  margin-left: 3px;
  color: white;
  border-radius: 3px;
  border-style: none;
  background-color: #5263ab;
}

#ProfileDropdown,
#notificationDropdown {
  background-color: #c1ccf8;
  border-style: none;
  color: #5263ab;
  font-size: 20px;
}

.dropdown-cont:hover {
  background-color: #8493d9;
}

#ProfileDropdown {
  border-left: solid 2px #5263ab;
}

.notif-container-dropdown {
  max-width: 200px !important;
}
.notif-dropdown {
  width: 400px; /* Adjust the width as needed */
}

.title-notifications {
  font-size: 15px !important;
  font-weight: 700;
  text-transform: uppercase;
  color: #2a2f4f;
  padding-left: 0.5em;
  padding-top: 10px;
  border-radius: 15px;
}

.drop-cont:hover {
  background-color: #c9d0f2;
}
.dropdown-divider {
  border: solid 1px #5263ab;
}

.notif-dropdown {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-bottom: 1px solid #efefef;
  padding: 5px;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
}

.notif-dropdown {
  transform: translate3d(4px, 42px, 0px);
}

.account-drop {
  transform: translate3d(-86px, 0px, 0px);
}

.text strong {
  font-weight: 700;
  font-size: 20px;
  color: #000;
}

.text {
  margin-top: 0px;
  font-size: 20px;
  display: flex;
  padding: 15px;
  word-wrap: break-word;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.notif-dropdown a:hover {
  color: #2a2f4f !important;
  background-color: #c9d0f2 !important;
}

.row {
  --bs-gutter-x: none !important;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

@media (max-width: 320px) {
  /* Nav Bar Hamburger */
  .navbar-links a {
    font-size: 1.2rem; /* Adjust font size as needed */
  }
  .circle {
    position: absolute;
    top: -10%;
    left: -20%;
    width: auto;
    height: 120vh;
  }

  /*index.php */
  .navbar-links a {
    position: relative;
    color: #0b0b0b;
    font-weight: 20px;
    text-decoration: none;
    font-size: 28px;
    padding: 18px;
    margin: 5px;
  }

  .intro {
    margin-top: 50px;
    margin-left: 50px;
    padding-bottom: 65vh;
  }

  .boton {
    align-items: center;
    appearance: none;
    background-color: #00000027;
    border-radius: 10px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #00000010 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395a;
    cursor: pointer;
    font-weight: bold;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 50px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 1.5em;
    margin-top: 30px;
    margin-left: 5px;
  }

  .featured-pics {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .intro {
    margin-top: 50px;
    margin-left: 50px;
    padding-bottom: 20vh;
  }

  .showcase {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    padding: 2em;
  }

  .showcase img {
    width: 250px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    padding: none;
    border-style: solid;
    border-width: 8px;
    border-color: #c6c6c6;
    border-radius: 20px;
  }

  .sliders {
    padding: 0 2em;
  }

  .container-description {
    background: #eeeeee;
    background: -moz-linear-gradient(
      top,
      #eeeeeecc 0%,
      #c0aef0c0 100%,
      #5a4c6a 100%
    );
    background: -webkit-linear-gradient(
      top,
      #eeeeeeb1 0%rgba (193, 177, 236, 0.777) EE 100%,
      #5a4c6a 100%
    );
    background: linear-gradient(
      to bottom,
      #eeeeeeaf 0%,
      #bfacf2b5 100%,
      #5a4c6a 100%
    );
    margin: auto;
    width: 77%;
    padding: 10px;
    text-align: center;
    display: flex;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
  }

  .container-description h3 {
    font-size: 1.2em;
  }

  .dos {
    padding-bottom: 15vh;
  }

  .responsive-container-block.big-container {
    justify-content: center;
    padding: 0 10px;
    width: 70%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 20px 7px;
  }
  .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: center;
  }

  /* aboutus.php */

  .about-us-description {
    font-size: 1em;
    color: #101010;
    padding: 0;
    text-align: center;
  }

  .tenth-lec {
    display: none;
  }

  .twelveth-lec {
    position: absolute;
    bottom: -45%;
    left: 20%;
    width: auto;
    height: 33vh;
  }
  .about-us-description h1 {
    color: #2a2f4f;
    font-weight: bold;
  }

  .section2 {
    margin-top: 8%;
  }

  /* aboutus.php */
  .about-us-description {
    font-size: 0.4em;
    color: #0b0303;
    text-align: center;
    margin-bottom: 8%;
    text-align: center;
  }

  .twelveth-lec {
    position: absolute;
    bottom: -125%;
    left: 20%;
    width: auto;
    margin-top: 10%;
    height: 22vh;
  }

  .about-us-description2 {
    font-size: 0.4em;
  }

  /* services.php */

  .third-lec,
  .fourth-lec,
  .sixth-lec {
    display: none;
  }

  .FAQS {
    border-radius: 10px;
    width: 80%;
    margin-left: 5vh;
    margin-top: 20vh;
    background-color: #66666672;
    padding: 15px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 0;
    transform: translateY(1300%);
    margin: 0;
  }

  .content-slider {
    margin: 15px;
    height: 94%;
    width: 90%;
    border-radius: 20px;
    text-align: center;
  }

  .content-background-border {
    margin: 0;
    height: auto;
    border-radius: 20px;
  }

  .swiper-slide {
    flex-shrink: 0;
    width: 100%;
    font-size: 11px;
    height: 100%;
    position: relative;
    transition-property: transform;
  }

  .swiper {
    width: 100%;
    height: 70vh;
    margin: 50px;
    margin-top: 80px;
  }

  .eleventh-lec {
    display: none;
  }

  .con{
    display: flex;
    align-items: center;
    padding: 15px 5px;
  }
}
