body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(..//img/user-pet-background.png);
    background-repeat: repeat;
    background-size: cover;
    overflow-x: hidden;
    z-index: -2;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-width: 100%;
    }

.circle{
    position: absolute;
    top: -10%; left: -20%;
    width: auto;
    height: 120vh;
}

.second-lec{
    position: absolute;
    bottom: -98%; right: -22%;
    width: auto;
    height: 180vh;
    opacity: 0.9;
}
.third-lec{
    position: absolute;
    bottom: -125%; left: -19%;
    width: auto;
    height: 100vh;
    z-index: -4;
    opacity: 0.6;
}
.fourth-lec{
    position: absolute;
    bottom: -205%; right: -9%;
    width: auto;
    height: 80vh;
    opacity: 0.6;
}
.fifth-lec{
    position: absolute;
    bottom: -12%; right: 3%;
    width: auto;
    height: 100vh;
    opacity: 0.9;

}
.sixth-lec{
  position: absolute;
  bottom: -75%; right: -5%;
  width: auto;
  height: 150vh;
  opacity: 0.5;
}
.seventh-lec{
  position: absolute;
  bottom: -10%; left: -1%;
  width: auto;
  height: 60vh;
  opacity: 0.9;
}
.eighth-lec{
  position: absolute;
  bottom: -31%; right: -16%;
  width: auto;
  height: 120vh;
  opacity: 0.6;
}
.nignth-lec{
  position: absolute;
  bottom: -9.0%; left: -3.5%;
  width: auto;
  height: 57.5vh;
  opacity: 0.9;
}
.tenth-lec{
  position: absolute;
  bottom: 7%; left: 1%;
  width: auto;
  height: 55vh;
  
}

.eleventh-lec{
  position: absolute;
  bottom: -70%; left: 25%;
  width: auto;
  height: 55vh;
  
}
.twelveth-lec{
  position: absolute;
  bottom: -78%; left: 40%;
  width: auto;
  height: 55vh;
}

.logo-text{
    font-weight: bolder;
    color: white;

}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.second-nav.navbar-links{
    color: white;

}

.logosec, .logo-clinic {
    height: auto;
    width: 15%;
}

.logo-image {
    width: 50px; /* Set your preferred size */
    height: auto;
    margin-right: 10px;
}

.logo-text {
    font-size: 2.3rem;
}

.navbar-links {
    padding-right: 35px;
}

.navbar-links a {
    text-decoration: none;
    color: #5263AB;
    font-weight: 20px;
    font-size: 28px;
    padding: 18px;
    margin: 5px;

}

.dos{
    padding-bottom: 200px;
}
.navbar-links a:hover{
    width: fit-content;
    background-color: #97a2d4;
    border: 1px solid #16406c ;
    color: #ffffff;
    border-radius: 15px; 
    transition: 0.6s;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

img {
    z-index: -1;
  }

.intro h1, .border-line{
    color: white;
   
}

.intro{
    margin-top: 65px;  
    margin-left: 65px;
    padding-bottom: 65vh;
}

.intro h1{
    font-size: 4rem;
    font-weight: bold;
    display: flex;
}

.border-line{
    margin-bottom: 20px;
    width: 520px;
    border-bottom: 2px solid black;
}
.description h2{
    font-size: 26px;
    
}

.featured-pics{
    display: block;
    display: flex;
    flex-direction: row;
    margin-left: 79px;
    margin-right: 79px;
}

.showcase{
padding: 8em;
}

.showcase img{
  border-style: solid;
  border-width: 8px;
  border-color: #c6c6c6;
  border-radius: 20px;
}

.button-30 {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }
  .button-30:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  }
  .button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .button-30:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
  }

  .boton{
    align-items: center;
    appearance: none;
    background-color: #00000027;
    border-radius: 10px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#00000010 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    font-weight: bold;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 50px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 30px;
    margin-top: 70px;
    margin-left: 50px;
  }
  .boton:focus {
    box-shadow: #00000043 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #00000015 0 -3px 0 inset;
  }
  .boton:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #0000002c 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .boton:active {
    box-shadow: #00000043 0 3px 7px inset;
    transform: translateY(2px);
  }

.title{
    
    text-align: center;
}

.container-description{
    background: #EEEEEE;
    background: -moz-linear-gradient(top, #eeeeeecc 0%, #c0aef0c0 100%, #5a4c6a 100%);
    background: -webkit-linear-gradient(top, #eeeeeeb1 0%rgba(193, 177, 236, 0.777)EE 100%, #5a4c6a 100%);
    background: linear-gradient(to bottom, #eeeeeeaf 0%, #bfacf2b5 100%, #5a4c6a 100%);
    margin: auto;
    width: 77%;
    padding: 10px;
    text-align: center;
    margin-right: 176px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 1); 
}

.about-us-description{
  margin-right: 10%;
  padding: 10px;
  width: 40em;
  float: right;
  margin-top: 7%;
}

.about-us-description2{
  margin-left: 1.5%;
  padding: 10px;
  width: 40em;
  float: left;
  margin-top: 15%;
}

.about-us-description h1{
color: #5263AB;
font-weight: bold;}
.intro-title{
  padding: 10px;
  background-color: #d4d4d474 ;
}

.intro-title h1{
  font-size: 4em;
  font-weight: bold;
  color: #2A2F4F;

}
/* Responsive styles */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links {
        margin-top: 10px;
    }

    .navbar-links a {
        margin: 5px 0;
    }
}
.paw{
  float: left;
}

.about-us-description2 h3 i{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.about-us-description2 h3{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-align: justify;
}
.responsive-cell-block {
    min-height: 75px;
  }
  
  .text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    line-height: 25px;
    height: 50%;
    width: 100%;
  }
  
  img {
    object-fit: cover;
  }
  
  .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: flex-start;
  }
  
  .responsive-container-block.bg {
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 1320px;
    margin: 50px 0 50px 0;
  }
  
  .text-blk.title {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 36px;
    line-height: 45px;
    font-weight: 900;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin: 0 0 15px 0;
  }
  
  * {
    font-family: Nunito, sans-serif;
  }
  
  .text-blk.desc {
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    height: auto;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
    max-width: 750px;
  }
  
  .responsive-container-block.blocks {
    width: 100%;
    min-height: 0px;
    justify-content: space-between;
    max-width: 1320px;
  }
  
  .responsive-cell-block.wk-desk-1.wk-tab-1.wk-mobile-1.wk-ipadp-1.content {
    width: 30%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 20px 7px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .text-blk.info-block {
    width: 85%;
    height: auto;
    font-size: 18px;
    line-height: 30px;
    margin-top: 30px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
    margin: 30px 0 30px 0;
  }
  
  .responsive-container-block.person {
    width: 90%;
    min-height: 0px;
    height: auto;
    margin-top: 0px;
    margin-right: 31.25px;
    margin-bottom: 20px;
    margin-left: 31.25px;
  }
  
  .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12.icon-block {
    width: 22%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12.text-block {
    width: 78%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  
  .text-blk.name {
    font-size: 18px;
    line-height: 20px;
    font-weight: 900;
    height: auto;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
  }
  
  .text-blk.desig {
    line-height: 16px;
    height: auto;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }
  
  .profile-img {
    width: 60px;
    height: 60px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
  }
  
  .responsive-container-block.big-container {
    justify-content: center;
    padding: 0 50px 0 50px;
    width: 70%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 20px 7px;
  }

  .tres{
    padding-bottom: 100px;
  }
  @media (max-width: 1024px) {
    .responsive-cell-block.wk-desk-1.wk-tab-1.wk-mobile-1.wk-ipadp-1.content {
      width: 47%;
    }
  
    .responsive-cell-block.wk-desk-1.wk-tab-1.wk-mobile-1.wk-ipadp-1.content.bottom {
      margin-top: 5%;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 25%;
    }
  
    .text-blk.desc {
      width: 70%;
    }
  
    .responsive-container-block.person {
      margin-top: 5%;
      margin-right: 31.25px;
      margin-bottom: 0px;
      margin-left: 31.25px;
    }
  
    .text-blk.title {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .responsive-container-block.person {
      margin-top: 21.9375px;
      margin-right: 31.25px;
      margin-bottom: 20px;
      margin-left: 31.25px;
    }
  
    .text-blk.info-block {
      margin-top: 30px;
      margin-right: 0px;
      margin-bottom: 25px;
      margin-left: 0px;
    }
  }
  
  @media (max-width: 768px) {
    .responsive-container-block.person {
      margin-top: 0px;
      margin-right: 31.25px;
      margin-bottom: 0px;
      margin-left: 31.25px;
    }
  
    .text-blk.info-block {
      height: 50%;
      font-size: 17px;
    }
  
    .responsive-cell-block.wk-desk-1.wk-tab-1.wk-mobile-1.wk-ipadp-1.content {
      width: 100%;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 5%;
      margin-left: 0px;
    }
  
    .text-blk.desc {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 80px;
      margin-left: 0px;
      width: 85%;
      font-size: 17px;
    }
  
    .text-blk.title {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
      font-size: 30px;
    }
  
    .responsive-cell-block.wk-desk-1.wk-tab-1.wk-mobile-1.wk-ipadp-1.content.bottom {
      width: 100%;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .responsive-container-block.blocks {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .responsive-container-block.bg {
      flex-wrap: nowrap;
    }
  
    .responsive-container-block.person {
      margin-top: 0px;
      margin-right: 31.25px;
      margin-bottom: 20px;
      margin-left: 31.25px;
    }
  
    .text-blk.info-block {
      margin-top: 30px;
      margin-right: 0px;
      margin-bottom: 30px;
      margin-left: 0px;
    }
  
    .text-blk.desc {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 30px;
      margin-left: 0px;
    }
  
    .text-blk.desig {
      font-size: 15px;
    }
  
    .text-blk.name {
      font-size: 17px;
    }
  }
  
  @media (max-width: 500px) {
    .responsive-cell-block.wk-desk-1.wk-tab-1.wk-mobile-1.wk-ipadp-1.content {
      width: 100%;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 8%;
      margin-left: 0px;
    }
  
    .text-blk.desc {
      width: 90%;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
      font-size: 16px;
      line-height: 24px;
    }
  
    .text-blk.title {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
      font-size: 26px;
    }
  
    .text-blk.info-block {
      margin-top: 30px;
      margin-right: 0px;
      margin-bottom: 50px;
      margin-left: 0px;
      font-size: 16px;
      line-height: 26px;
      margin: 30px 0 20px 0;
    }
  
    .text-blk.desc {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 30px;
      margin-left: 0px;
    }
  
    .responsive-container-block.big-container {
      padding: 0 30px 0 30px;
    }
  
    .text-blk.name {
      font-size: 17px;
    }
  
    .text-blk.desig {
      font-size: 15px;
    }
  }

/* swiper css */
  .swiper {
    width: 120vh;
    height: 65vh;
    margin: 50px;
    margin-top: 80px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #BCCBE7;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


 .content-slider{
  border: 5px solid white;
  margin: 15px;
  height: 30.8em;
  border-radius: 20px;
  text-align: center;
  
 }

.swiper-button-next, .swiper-button-prev{
position: absolute;
top: -50%;
transform: translateY(500%);
margin: 0 15em;
}

.service-button{
  background-color: #5263AB;
  border-radius: 10px;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  box-shadow: 0 9px #999;
}

.service-button:hover{
  background-color: #4c5599;
  transition: 0.1s;
}
.service-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
/* swiper css */

.FAQS{
    width: 63%;
    margin-left: 35vh;
    margin-top: 70vh;
    background-color: #66666672;
    padding: 15px;
}

.FQS{
   background-color: #66666672;
}
.accordion-button, .accordion-item, .accordion-body, .accordion-header{
  margin: 10px;
}


.social-icons a{
	color:#fff;
  line-height:30px;
  font-size:45px;
  margin: 0 5px;
  margin: 5px;
  text-decoration:none;
  padding: 15px;
  text-align: center;
}

.social-icons{
  display: flex;
  flex-direction: column;
  float: right;
  background-color:#494949;
  border-radius: 15px 0px 0px 15px;
  right: 5px;
  max-width: 80px;
}


.social-icons a i{
	line-height:30px;
  font-size:30px;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1); 
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1); 
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);
}
.social-icons a:hover i{
  box-shadow: 0px 0px 150px #000000;
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.5);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.5);   
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.5);
  transition: all 200ms ease-in;
  transform: scale(1.5);
}

.separator {
  padding-top: 5px;
  border-top: 2px solid #ccc; /* Straight line separator */
  margin: 10px 0; /* Adjust spacing */
}


.title {
  display: table;
  width: 100%
}

.title-row {
  display: table-row;
}

.bar-container {
  display: table-cell;
  position: relative;
  width: 50%;
}

.bar {
  position: absolute;
  width: 100%;
  top: 55%;
  border-bottom: 1px solid black;
}

.text {
  display: table-cell;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 36px;
}

.or-divider {
  display: flex;
  align-items: center;
  text-align: center;
}

.or-divider::before,
.or-divider::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #000; /* Adjust the color and style as needed */
  margin: 0 10px;
}

.or-text {
  padding: 0 10px;
  background-color: #fff; /* Set background color to match your form background */
}